#log

:javascript
  var source = new EventSource('/subscribe')

  var logData = function(data) {
    log.innerText += '\n' + data
  }

  source.addEventListener('message', function(event) {
    logData(event.data)
  }, false)
