#log

:javascript
  const source = new EventSource('/subscribe')

  const logData = function(data) {
    log.innerText += '\n' + data
  }

  source.addEventListener('message', (event) => {
    logData(event.data)
  }, false)
